.image-border {
    border: 2px solid black; /* Add a black border */
}

.caption figure{
  text-align: center;
}

figcaption {
  text-align: center;
}

/*.reveal .slides section#title-slide h1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.15em;
}

.reveal .slides section#title-slide h1::before {
  content: "";
  background-image: url("assets/colab.svg");
  height: 0.75em;
  width: 1.5em;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}*/

iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 500px;
}

:root {
  --mermaid-bg-color: #1e1e1e;
  --mermaid-edge-color: #cccccc;
  --mermaid-node-fg-color: #ffffff;
  --mermaid-fg-color: #e0e0e0;
  --mermaid-fg-color--lighter: #b3b3b3;
  --mermaid-fg-color--lightest: #999999;
  --mermaid-font-family: monospace;
  --mermaid-label-bg-color: #333333;
  --mermaid-label-fg-color: #ffffff;
  --mermaid-node-bg-color: #2d2d2d;
  --mermaid-node-fg-color: #ffffff;
}